{% extends "base.html" %}

{% block title %} {{title}} {% endblock title %}

{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> 
    
    <br>
    
    <form method="post">
    
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        
        <div class="form-group">
            {{ form.description_of_item.errors }}
            <label for="{{ form.description_of_item.id_for_label }}">Description:</label>
            {{ form.description_of_item }}
        </div>
        
        <div class="form-group ">
            {{ form.quantity.errors }}
            <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
            {{ form.quantity }}
        </div>

        <div class="form-group ">
            {{ form.po.errors }}
            <label for="{{ form.po.id_for_label }}">Po:</label>
            {{ form.po }}

        </div>
        <div class="form-group ">
            {{ form.registration.errors }}
            <label for="{{ form.registration.id_for_label }}">Registration:</label>
            {{ form.registration }}

        </div>
        <div class="form-group ">
            {{ form.status.errors }}
            <label for="{{ form.status.id_for_label }}">Status:</label>
            {{ form.status }}

        </div>
        <div class="form-group ">
            {{ form.remarks.errors }}
            <label for="{{ form.remarks.id_for_label }}">Remarks:</label>
            {{ form.remarks }}

        </div>
        
        
            <br>
            <div class="align-middle">
                <button type="submit" class="btn btn-success">{{ savebtn }}</button>
                {% if title == "View Stock" %}
                    
                {% endif %}
                {% if delbtn %}
                    
                {% endif %}
                
            </div>
        
        
    </form>

{% endblock content %}

<!-- read.html -->
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ stock.name }} Details</title>
</head>
<body>
    <h1>{{ stock.name }} Details</h1>
    <ul>
        <li><strong>ID:</strong> {{ stock.id }}</li>
        <li><strong>Name:</strong> {{ stock.name }}</li>
        <li><strong>Quantity:</strong> {{ stock.quantity }}</li>
        <li><strong>Price:</strong> {{ stock.price }}</li>
        <!--Add more fields as needed -->
    <!-- </ul>-->
    <!-- <a href="{% url 'read-stock' pk=stock.id %}">Go back</a>
</body>
</html>-->


